* {
    box-sizing: border-box;
}

body {

    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


.main-header {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background: rgb(246, 209, 171);
    color: #fff;
    font-size: 40px;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(198, 230, 221);
    padding: 7px;
    padding-right: 60px;
    color: white;
}

.header-link {


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 20px;



}


.header-links {
    text-decoration: none;
    font-style: italic;
    color: #fff;
    margin: 8px;
}




.Subtitle {


    background-image: url(images/Skyline.jpg);
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 125px;



}

.Subtitle-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-right: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-style: italic;

}

.About-Me {

    display: flex;
    flex-wrap: wrap;



}

section header {


    justify-content: flex-start;
    align-items: center;
    font-size: 75px;
    padding-left: 80px;
    padding-right: 10px;
    border-right: 4px solid black;
    margin-top: 10px;
    margin-bottom: 10px;



}
.about-me-box{
    display: inline;
    flex-wrap: wrap;
}

.about-me-text {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.work-box{

    display: flex;
    flex-wrap: wrap;

}

.img-container {

    position: relative;

    width: 400px;

    margin-left: 20px;

}

.image {

    width: 100%;
    border: 3px solid rgb(246, 209, 171);
}

.bottomleft {

    position: absolute;

    font-size: 20px;

    font-weight: bold;

    font-style: italic;

    color: white;

    bottom: 3%;

    left: 8%;

    margin-bottom: 10px;

}

.Big-image {

display: flex;
flex-wrap: wrap;
width: 400%;

}

.First-set {

    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.Second-set{

    display: flex;
    flex-wrap: wrap;
    width:100%;

}

.contact-box{
    display: flex;
    flex-wrap: wrap;
}

.about-me-box{
    display: flex;
    flex-wrap: wrap;
    
}


.footer-links{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-style: italic;
    margin: 8px;


}



/*@media screen and (max-width: 992px)*/