* {
    box-sizing: border-box;
}

body {

    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


.main-header {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background: rgb(246, 209, 171);
    color: #fff;
    font-size: 40px;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(198, 230, 221);
    padding: 7px;
    padding-right: 60px;
    color: white;
}

.header-link {


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    font-size: 20px;



}


.header-links {
    text-decoration: none;
    font-style: italic;
    color: #fff;
    margin: 8px;
}




.Subtitle {


    background-image: url(images/Skyline.jpg);
    background-size: cover;
    padding-top: 125px;
    padding-bottom: 125px;



}

.Subtitle-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    margin-right: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-style: italic;

}



section header {


    justify-content: flex-start;
    align-items: center;
    font-size: 75px;
    padding-left: 80px;
    padding-right: 75px;
    border-right: 4px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;



}
.box{
    display: flex;
    
    
}

.about-me-text{

    padding-left: 20px;
    padding-top: 20px;
    width: 1200px;
}



.big-img-container {



    position: relative;
    
    width: 1200px;

    margin-left: 20px;
}

.img-container {

    position: relative;
    justify-content: center;

    width: 600px;

    margin-left: 8px;

}

.image {

    width: 100%;
    border: 3px solid rgb(246, 209, 171);
}

.bottomleft {

    position: absolute;

    font-size: 20px;

    font-weight: bold;

    font-style: italic;

    color: white;

    bottom: 3%;

    left: 8%;

    margin-bottom: 10px;

}

.Big-image {

display: flex;
flex-wrap: wrap;
width: 400%;

}

.First-set {

    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.Second-set{

    display: flex;
    flex-wrap: wrap;
    width:100%;

}





.footer-links{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-style: italic;
    margin: 8px;


}



@media screen and (max-width: 992px){
        .img-container{
            display: flex;
    flex-direction: column;

    }

    .big-img-container{
display: flex;
        flex-direction: column;
    }

}